<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess</title>
  </head>
  <body>
    <h1 style="text-align: center">Im BangGab</h1>
    <h2 style="text-align: center">I can guess your gender</h2>
    <h2 style="text-align: center">I guess your a {{ gender }}</h2>
    <img
      style="display: block; margin: auto"
      src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2JleWlraXJydTR4MXFtYmV3eXQwb2c2M2FpOXV2ZG9vcTNlZjAwZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/k73CjpJGQdu9L5MpEv/giphy.gif"
      width="300"
    />
    <h2 style="text-align: center">The probability is {{ probability }}</h2>
  </body>
</html>
